* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html
{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(pictures/index_picture.jpg);*/
    background-color: #9fdae7db;
}

.banner {
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(pictures/index_picture.jpg);*/
    background-color: #9fdae7bd;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: 80px;

    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: default;
}

.form-box {
    width: 460px;
    height: 600px;
    position: relative;
    margin: 3% auto;
    background: black;
    padding: 5px;
    overflow: hidden;
    z-index: 2;
}

.napis {
    text-align: center;
    background-color: #009688;
    border-radius: 10px;
}

p {
    margin-top: 20px;
    text-align: center;
}

.image
{
    width: 300px; 
    height: 200px;
    padding: 20px;
    margin-left: 30px;
}

.container {
    position: relative;
    width: 50%;
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 40vh;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .naslov_zasedenosti{
      margin: 15px;
  }
  .text {
    color: white;
    font-size: 15px;
    position: relative;
    top: 43%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 20px;
  }

.tekst_slike
{
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    color: white;
    position: relative;
}

.crta_pod_sliko
{
  border: 1px solid black;
  /*margin: 2px;*/
  width: 330px;
  margin-left: 30px;
}

.tabela
{
    background: none;
    position: absolute; 
}

mark
{
    background-color: red;
    color:white;
}

.text_overlay
{
    color:white;
    font-weight: normal;
}

.overlay_povezava
{
    position: relative;
}

.overlay_povezava:hover
{
    text-decoration: underline 6px black;
}
  
.table_row{
    border: none;
    width: 80%;
    
}

.sticky_row
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

.vserezervacije_button
{
    margin-bottom: 30px;
}
